<div class="form-group">
    <label for="add1">add1</label>
    <input type="text" id="add1" [(ngModel)]="address.add1" (ngModelChange)="onAddressChange()" class="form-control">
  
    <label for="add2">add2</label>
    <input type="text" id="add2" [(ngModel)]="address.add2" (ngModelChange)="onAddressChange()" class="form-control">
  

    <label for="city">City</label>
    <input type="text" id="city" [(ngModel)]="address.city" (ngModelChange)="onAddressChange()" class="form-control">
  
    <label for="state">State</label>
    <input type="text" id="state" [(ngModel)]="address.state" (ngModelChange)="onAddressChange()" class="form-control">
  
    <label for="pincode">pincode</label>
    <input type="text" id="pincode" [(ngModel)]="address.pincode" (ngModelChange)="onAddressChange()" class="form-control">
  </div>
  